li {
    list-style-type: none;
}

#searchBar {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#city-input {
    width: 90%;
    margin-bottom: 30px;
    margin-right: 0;
    color: rgb(240, 248, 255, 0.8);
    height: 40px;
    border-radius: 20px 0 0 20px;
    background: rgba(86, 95, 123, 0.5);
    border-style: groove;
    border-color: rgb(240, 248, 255, 0.25);
  }
  
  #city-input::placeholder {
    color: rgb(240, 248, 255, 0.75);
    font-size: 12px;
    opacity: 0.5;
  }
  
  #city-input:focus {
    box-shadow: none;
  }
  
  .glass-button-icon {
    margin-bottom: 30px;
    height: 40px;
    text-decoration: none;
    border-radius: 0 20px 20px 0px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgb(240, 248, 255, 0.25);
    border-left: none;
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0 20px 0 20px;
  }
  
  .glass-button:hover {
    background-color: rgba(255,255,255,0.2);
  }

  ul {
    padding: 0;
  }

  .city {
    font-size: 40px;
    margin-top: 10px;
    color: #d5e3e0;
  }
  .weather-conditions, .location-time {
    color: #8f9c9b;
  }

.weather-icon{
  position: relative; 
  top: -50px;
  left: -30px;
  width: 200px;
}

.current-temp{
  position: relative;
  right: -30px;
  text-align: center;
  font-size: 125px;
  color: #d5e3e0;
  

}

.min-temp {
  color: #9bccc7;
}

.max-temp {
  color: #f2ad63;
  margin-top: 30px;
}

.max-temp, .min-temp {
  text-align: left;
}

.location-time {
  font-size: 20px;
}

.weather-conditions {
  position: relative;
  top: -10px;
  font-size: 20px;
  text-align: center;
}

.weather-icon-conditions {
  font-size: 30px;
  color: #d5e3e0;
}
.current-units{
  font-size: 20px;
  position: relative;
  top: -90px;
}

.conditions {
  margin-top: 20px;
}

.date {
  font-size: 20px;
}

hr {
  position: relative;
  top: -70px;
}


@media only screen and (max-width: 992px){
  .location-time, .weather-conditions, .weather-icon-conditions, .city, .current-temp {text-align: center;}
  .weather-icon {position: relative; left: 1px; display: block; margin: 0 auto;}
  .weather-conditions {position: relative; top: -50px;}
}
